{
  "swagger": "2.0",
  "info": {
    "description": "Swagger2 UI",
    "version": "1.0",
    "title": "o2o-api Swagger2 UI",
    "contact": {}
  },
  "host": "api.sit.ihomefnt.org",
  "basePath": "/o2o-api",
  "tags": [
    {
      "name": "demo-controller",
      "description": "Demo Controller"
    },
    {
      "name": "【APP-BOM定制品API】",
      "description": "Curtain Controller"
    },
    {
      "name": "【M-API】",
      "description": "M站 APP下载接口"
    },
    {
      "name": "【TOC老带新API】",
      "description": "Toc Controller"
    },
    {
      "name": "【个人中心API】",
      "description": "Personal Center Controller"
    },
    {
      "name": "【乐橙API】",
      "description": "Lechange Controller"
    },
    {
      "name": "【交付相关】",
      "description": "Delivery Comment Controller"
    },
    {
      "name": "【产品中心-促销活动API】",
      "description": "Promotion Controller"
    },
    {
      "name": "【产品方案-订单API】",
      "description": "Product Program Order Controller"
    },
    {
      "name": "【产品方案数据查询API】",
      "description": "Product Program Controller"
    },
    {
      "name": "【任务API】",
      "description": "Task Controller"
    },
    {
      "name": "【体验店API】",
      "description": "Experience Store Controller"
    },
    {
      "name": "【信息流API】",
      "description": "Message Flow Controller"
    },
    {
      "name": "【可视化API】",
      "description": "Visual Furniture Matching Controller"
    },
    {
      "name": "【喜舍DNA投票API】",
      "description": "Dna Vote Controller"
    },
    {
      "name": "【地址API】",
      "description": "Address Controller"
    },
    {
      "name": "【地推api】",
      "description": "Control Cap Controller"
    },
    {
      "name": "【城市API】",
      "description": "City Controller"
    },
    {
      "name": "【字典api】",
      "description": "Dictionary Controller"
    },
    {
      "name": "【小艾提交设计任务API】",
      "description": "Design Demand Tool Controller"
    },
    {
      "name": "【广告API】",
      "description": "Ad Controller"
    },
    {
      "name": "【弹框API】",
      "description": "Popup Controller"
    },
    {
      "name": "【微信API】",
      "description": "Sign Controller"
    },
    {
      "name": "【快递API】",
      "description": "Kuaidi 100 Controller"
    },
    {
      "name": "【性格色彩分析API】",
      "description": "Character Color Controller"
    },
    {
      "name": "【我的设置管理API】",
      "description": "My Controller"
    },
    {
      "name": "【户型接口】户型api",
      "description": "Htp Controller"
    },
    {
      "name": "【操作日志API】",
      "description": "Log Controller"
    },
    {
      "name": "【支付API】",
      "description": "Payfor Controller"
    },
    {
      "name": "【新家大晒API】",
      "description": "Share Order Controller"
    },
    {
      "name": "【新订制品选配API】",
      "description": "Custom Optional Controller"
    },
    {
      "name": "【方案修改意见API】",
      "description": "Program Opinion Controller"
    },
    {
      "name": "【极速报修API】",
      "description": "Maintain Controller"
    },
    {
      "name": "【楼盘信息api】",
      "description": "Home Building Controller"
    },
    {
      "name": "【爱家贷API】",
      "description": "Loan Controller"
    },
    {
      "name": "【版本升级相关API】",
      "description": "Bundle Controller"
    },
    {
      "name": "【环信API】",
      "description": "Emchat Controller"
    },
    {
      "name": "【现金券抵用券API】",
      "description": "Cash Coupon Controller"
    },
    {
      "name": "【生活板块API】",
      "description": "Life Comment Controller"
    },
    {
      "name": "【用户信息API】",
      "description": "User Controller"
    },
    {
      "name": "【画屏API】",
      "description": "Art Gallery Controller"
    },
    {
      "name": "【画屏促销API】",
      "description": "Boe Activity Controller"
    },
    {
      "name": "【艾商城API】",
      "description": "Ihome Mall Controller"
    },
    {
      "name": "【艾积分API】",
      "description": "Ajb Controller"
    },
    {
      "name": "【草稿方案数据查询API】",
      "description": "Draft Program Controller"
    },
    {
      "name": "【装修报价API】",
      "description": "Decoration Quotation Controller"
    },
    {
      "name": "【订单API】",
      "description": "Art Order Controller"
    },
    {
      "name": "【订单权益API】",
      "description": "Right Controller"
    },
    {
      "name": "【订单相关API】",
      "description": "Order Api Controller"
    },
    {
      "name": "【设计任务相关】",
      "description": "Program Personal Need Controller"
    },
    {
      "name": "【购物车API】",
      "description": "Shopping Cart Controller"
    },
    {
      "name": "【软装查看更多API】",
      "description": "Sku Controller"
    },
    {
      "name": "【银行卡API】",
      "description": "Bank Card Controller"
    },
    {
      "name": "【静态页面数据API】",
      "description": "Static Page Data Controller"
    },
    {
      "name": "【首页API】",
      "description": "Main Page Controller"
    },
    {
      "name": "【魔镜API】",
      "description": "Magic Mirror Controller"
    }
  ],
  "paths": {
    "/account/changeNick": {
      "post": {
        "tags": [
          "【用户信息API】"
        ],
        "summary": "changeNick",
        "description": "修改昵称",
        "operationId": "changeNickUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "accessToken",
            "in": "query",
            "description": "登录标识",
            "required": false,
            "type": "string"
          },
          {
            "name": "appVersion",
            "in": "query",
            "description": "app版本号",
            "required": false,
            "type": "string"
          },
          {
            "name": "bundleVersions",
            "in": "query",
            "description": "bundle版本号列表",
            "required": false,
            "type": "object"
          },
          {
            "name": "cityCode",
            "in": "query",
            "description": "定位城市id",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceToken",
            "in": "query",
            "description": "设备token",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceType",
            "in": "query",
            "description": "设备类型",
            "required": false,
            "type": "string"
          },
          {
            "name": "location",
            "in": "query",
            "description": "定位地区",
            "required": false,
            "type": "string"
          },
          {
            "name": "mobileNum",
            "in": "query",
            "description": "手机号码",
            "required": false,
            "type": "string"
          },
          {
            "name": "newNick",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "osType",
            "in": "query",
            "description": "设备类型",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "parterValue",
            "in": "query",
            "description": "iOS 自然默认 100 ,每个应用都不一样",
            "required": false,
            "type": "string"
          },
          {
            "name": "systemVersion",
            "in": "query",
            "description": "系统版本",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.id",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.mobile",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.region",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.status",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.type",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.username",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.wechatId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "width",
            "in": "query",
            "description": "设备宽度",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "HttpBaseResponse«Void»",
              "$ref": "#/definitions/HttpBaseResponse«Void»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/account/changeavatar": {
      "post": {
        "tags": [
          "【用户信息API】"
        ],
        "summary": "changeavatar",
        "description": "更改用户头像",
        "operationId": "changeavatarUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "accessToken",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "appVersion",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "cityCode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceToken",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "newAvatar",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "osType",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "parterValue",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "sessionId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "width",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "HttpBaseResponse«UserAvatarResponseVo»",
              "$ref": "#/definitions/HttpBaseResponse«UserAvatarResponseVo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/account/checkAccessToken": {
      "post": {
        "tags": [
          "【用户信息API】"
        ],
        "summary": "checkAccessToken",
        "description": "检查用户合法性",
        "operationId": "checkAccessTokenUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "accessToken",
            "in": "query",
            "description": "登录标识",
            "required": false,
            "type": "string"
          },
          {
            "name": "appVersion",
            "in": "query",
            "description": "app版本号",
            "required": false,
            "type": "string"
          },
          {
            "name": "bundleVersions",
            "in": "query",
            "description": "bundle版本号列表",
            "required": false,
            "type": "object"
          },
          {
            "name": "cityCode",
            "in": "query",
            "description": "定位城市id",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceToken",
            "in": "query",
            "description": "设备token",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceType",
            "in": "query",
            "description": "设备类型",
            "required": false,
            "type": "string"
          },
          {
            "name": "location",
            "in": "query",
            "description": "定位地区",
            "required": false,
            "type": "string"
          },
          {
            "name": "mobileNum",
            "in": "query",
            "description": "手机号码",
            "required": false,
            "type": "string"
          },
          {
            "name": "osType",
            "in": "query",
            "description": "设备类型",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "parterValue",
            "in": "query",
            "description": "iOS 自然默认 100 ,每个应用都不一样",
            "required": false,
            "type": "string"
          },
          {
            "name": "systemVersion",
            "in": "query",
            "description": "系统版本",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.id",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.mobile",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.region",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.status",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.type",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.username",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.wechatId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "width",
            "in": "query",
            "description": "设备宽度",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "HttpBaseResponse«Void»",
              "$ref": "#/definitions/HttpBaseResponse«Void»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/account/checkUserInfo": {
      "post": {
        "tags": [
          "【用户信息API】"
        ],
        "summary": "checkUserInfo",
        "description": "检查用户信息",
        "operationId": "checkUserInfoUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "accessToken",
            "in": "query",
            "description": "登录标识",
            "required": false,
            "type": "string"
          },
          {
            "name": "appVersion",
            "in": "query",
            "description": "app版本号",
            "required": false,
            "type": "string"
          },
          {
            "name": "bundleVersions",
            "in": "query",
            "description": "bundle版本号列表",
            "required": false,
            "type": "object"
          },
          {
            "name": "cityCode",
            "in": "query",
            "description": "定位城市id",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceToken",
            "in": "query",
            "description": "设备token",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceType",
            "in": "query",
            "description": "设备类型",
            "required": false,
            "type": "string"
          },
          {
            "name": "location",
            "in": "query",
            "description": "定位地区",
            "required": false,
            "type": "string"
          },
          {
            "name": "mobileNum",
            "in": "query",
            "description": "手机号码",
            "required": false,
            "type": "string"
          },
          {
            "name": "osType",
            "in": "query",
            "description": "设备类型",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "parterValue",
            "in": "query",
            "description": "iOS 自然默认 100 ,每个应用都不一样",
            "required": false,
            "type": "string"
          },
          {
            "name": "systemVersion",
            "in": "query",
            "description": "系统版本",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.id",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.mobile",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.region",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.status",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.type",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.username",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.wechatId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "width",
            "in": "query",
            "description": "设备宽度",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "HttpBaseResponse«CheckUserInfoResponseVo»",
              "$ref": "#/definitions/HttpBaseResponse«CheckUserInfoResponseVo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/account/completeUserInfo": {
      "post": {
        "tags": [
          "【用户信息API】"
        ],
        "summary": "completeUserInfo",
        "description": "用户完善信息，充值50艾积分",
        "operationId": "completeUserInfoUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "accessToken",
            "in": "query",
            "description": "登录标识",
            "required": false,
            "type": "string"
          },
          {
            "name": "appVersion",
            "in": "query",
            "description": "app版本号",
            "required": false,
            "type": "string"
          },
          {
            "name": "bundleVersions",
            "in": "query",
            "description": "bundle版本号列表",
            "required": false,
            "type": "object"
          },
          {
            "name": "cityCode",
            "in": "query",
            "description": "定位城市id",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceToken",
            "in": "query",
            "description": "设备token",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceType",
            "in": "query",
            "description": "设备类型",
            "required": false,
            "type": "string"
          },
          {
            "name": "location",
            "in": "query",
            "description": "定位地区",
            "required": false,
            "type": "string"
          },
          {
            "name": "mobileNum",
            "in": "query",
            "description": "手机号码",
            "required": false,
            "type": "string"
          },
          {
            "name": "nextState",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "osType",
            "in": "query",
            "description": "设备类型",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "parterValue",
            "in": "query",
            "description": "iOS 自然默认 100 ,每个应用都不一样",
            "required": false,
            "type": "string"
          },
          {
            "name": "preState",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "systemVersion",
            "in": "query",
            "description": "系统版本",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.id",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.mobile",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.region",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.status",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.type",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.username",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.wechatId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "width",
            "in": "query",
            "description": "设备宽度",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "HttpBaseResponse«AjbBillNoResponseVo»",
              "$ref": "#/definitions/HttpBaseResponse«AjbBillNoResponseVo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/account/feedback/add": {
      "post": {
        "tags": [
          "【用户信息API】"
        ],
        "summary": "feedback/add",
        "description": "添加用户反馈",
        "operationId": "addFeedbackUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "accessToken",
            "in": "query",
            "description": "登录标识",
            "required": false,
            "type": "string"
          },
          {
            "name": "appVersion",
            "in": "query",
            "description": "app版本号",
            "required": false,
            "type": "string"
          },
          {
            "name": "bundleVersions",
            "in": "query",
            "description": "bundle版本号列表",
            "required": false,
            "type": "object"
          },
          {
            "name": "cityCode",
            "in": "query",
            "description": "定位城市id",
            "required": false,
            "type": "string"
          },
          {
            "name": "content",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceToken",
            "in": "query",
            "description": "设备token",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceType",
            "in": "query",
            "description": "设备类型",
            "required": false,
            "type": "string"
          },
          {
            "name": "location",
            "in": "query",
            "description": "定位地区",
            "required": false,
            "type": "string"
          },
          {
            "name": "mobileNum",
            "in": "query",
            "description": "手机号码",
            "required": false,
            "type": "string"
          },
          {
            "name": "osType",
            "in": "query",
            "description": "设备类型",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "parterValue",
            "in": "query",
            "description": "iOS 自然默认 100 ,每个应用都不一样",
            "required": false,
            "type": "string"
          },
          {
            "name": "phoneNumber",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "systemVersion",
            "in": "query",
            "description": "系统版本",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "userInfo.id",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.mobile",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.region",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.status",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.type",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.username",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.wechatId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "width",
            "in": "query",
            "description": "设备宽度",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "HttpBaseResponse«FeedbackResponseVo»",
              "$ref": "#/definitions/HttpBaseResponse«FeedbackResponseVo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/account/getUserAvatar": {
      "post": {
        "tags": [
          "【用户信息API】"
        ],
        "summary": "getUserAvatar",
        "description": "获取用户头像",
        "operationId": "getUserAvatarUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "accessToken",
            "in": "query",
            "description": "登录标识",
            "required": false,
            "type": "string"
          },
          {
            "name": "appVersion",
            "in": "query",
            "description": "app版本号",
            "required": false,
            "type": "string"
          },
          {
            "name": "bundleVersions",
            "in": "query",
            "description": "bundle版本号列表",
            "required": false,
            "type": "object"
          },
          {
            "name": "cityCode",
            "in": "query",
            "description": "定位城市id",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceToken",
            "in": "query",
            "description": "设备token",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceType",
            "in": "query",
            "description": "设备类型",
            "required": false,
            "type": "string"
          },
          {
            "name": "location",
            "in": "query",
            "description": "定位地区",
            "required": false,
            "type": "string"
          },
          {
            "name": "mobileNum",
            "in": "query",
            "description": "手机号码",
            "required": false,
            "type": "string"
          },
          {
            "name": "osType",
            "in": "query",
            "description": "设备类型",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "parterValue",
            "in": "query",
            "description": "iOS 自然默认 100 ,每个应用都不一样",
            "required": false,
            "type": "string"
          },
          {
            "name": "systemVersion",
            "in": "query",
            "description": "系统版本",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.id",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.mobile",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.region",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.status",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.type",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.username",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.wechatId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "width",
            "in": "query",
            "description": "设备宽度",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "HttpBaseResponse«UserAvatarResponseVo»",
              "$ref": "#/definitions/HttpBaseResponse«UserAvatarResponseVo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/account/judgeUserIsRegister": {
      "post": {
        "tags": [
          "【用户信息API】"
        ],
        "summary": "judgeUserIsRegister",
        "description": "查询用户是否已注册",
        "operationId": "judgeUserIsRegisterUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "originalRef": "公共请求参数",
              "$ref": "#/definitions/公共请求参数"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "HttpBaseResponse«UserIsRegisterResponseVo»",
              "$ref": "#/definitions/HttpBaseResponse«UserIsRegisterResponseVo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/account/login": {
      "post": {
        "tags": [
          "【用户信息API】"
        ],
        "summary": "login",
        "description": "用户登录",
        "operationId": "loginUsingPOST_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "accessToken",
            "in": "query",
            "description": "登录标识",
            "required": false,
            "type": "string"
          },
          {
            "name": "appVersion",
            "in": "query",
            "description": "app版本号",
            "required": false,
            "type": "string"
          },
          {
            "name": "bundleVersions",
            "in": "query",
            "description": "bundle版本号列表",
            "required": false,
            "type": "object"
          },
          {
            "name": "cityCode",
            "in": "query",
            "description": "定位城市id",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceToken",
            "in": "query",
            "description": "设备token",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceType",
            "in": "query",
            "description": "设备类型",
            "required": false,
            "type": "string"
          },
          {
            "name": "location",
            "in": "query",
            "description": "定位地区",
            "required": false,
            "type": "string"
          },
          {
            "name": "mobile",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "mobileNum",
            "in": "query",
            "description": "手机号码",
            "required": false,
            "type": "string"
          },
          {
            "name": "osType",
            "in": "query",
            "description": "设备类型",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "parterValue",
            "in": "query",
            "description": "iOS 自然默认 100 ,每个应用都不一样",
            "required": false,
            "type": "string"
          },
          {
            "name": "password",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "systemVersion",
            "in": "query",
            "description": "系统版本",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.id",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.mobile",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.region",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.status",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.type",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.username",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.wechatId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "width",
            "in": "query",
            "description": "设备宽度",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "HttpBaseResponse«LoginResponseVo»",
              "$ref": "#/definitions/HttpBaseResponse«LoginResponseVo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/account/loginInWeChatH5": {
      "post": {
        "tags": [
          "【用户信息API】"
        ],
        "summary": "loginInWeChatH5",
        "description": "微信H5活动登录",
        "operationId": "loginInWeChatH5UsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "originalRef": "公共请求参数",
              "$ref": "#/definitions/公共请求参数"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "HttpBaseResponse«string»",
              "$ref": "#/definitions/HttpBaseResponse«string»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/account/logout": {
      "post": {
        "tags": [
          "【用户信息API】"
        ],
        "summary": "logout",
        "description": "退出登录",
        "operationId": "logoutUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "accessToken",
            "in": "query",
            "description": "登录标识",
            "required": false,
            "type": "string"
          },
          {
            "name": "appVersion",
            "in": "query",
            "description": "app版本号",
            "required": false,
            "type": "string"
          },
          {
            "name": "bundleVersions",
            "in": "query",
            "description": "bundle版本号列表",
            "required": false,
            "type": "object"
          },
          {
            "name": "cityCode",
            "in": "query",
            "description": "定位城市id",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceToken",
            "in": "query",
            "description": "设备token",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceType",
            "in": "query",
            "description": "设备类型",
            "required": false,
            "type": "string"
          },
          {
            "name": "location",
            "in": "query",
            "description": "定位地区",
            "required": false,
            "type": "string"
          },
          {
            "name": "mobile",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "mobileNum",
            "in": "query",
            "description": "手机号码",
            "required": false,
            "type": "string"
          },
          {
            "name": "osType",
            "in": "query",
            "description": "设备类型",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "parterValue",
            "in": "query",
            "description": "iOS 自然默认 100 ,每个应用都不一样",
            "required": false,
            "type": "string"
          },
          {
            "name": "refreshToken",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "systemVersion",
            "in": "query",
            "description": "系统版本",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.id",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.mobile",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.region",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.status",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.type",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.username",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.wechatId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "width",
            "in": "query",
            "description": "设备宽度",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "HttpBaseResponse«Void»",
              "$ref": "#/definitions/HttpBaseResponse«Void»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/account/newvalidelogsms": {
      "post": {
        "tags": [
          "【用户信息API】"
        ],
        "summary": "newvalidelogsms",
        "description": "短信注册或登录",
        "operationId": "newvalidelogsmsUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "accessToken",
            "in": "query",
            "description": "登录标识",
            "required": false,
            "type": "string"
          },
          {
            "name": "appVersion",
            "in": "query",
            "description": "app版本号",
            "required": false,
            "type": "string"
          },
          {
            "name": "bundleVersions",
            "in": "query",
            "description": "bundle版本号列表",
            "required": false,
            "type": "object"
          },
          {
            "name": "cityCode",
            "in": "query",
            "description": "定位城市id",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceToken",
            "in": "query",
            "description": "设备token",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceType",
            "in": "query",
            "description": "设备类型",
            "required": false,
            "type": "string"
          },
          {
            "name": "location",
            "in": "query",
            "description": "定位地区",
            "required": false,
            "type": "string"
          },
          {
            "name": "login",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "mobile",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "mobileNum",
            "in": "query",
            "description": "手机号码",
            "required": false,
            "type": "string"
          },
          {
            "name": "osType",
            "in": "query",
            "description": "设备类型",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "parterValue",
            "in": "query",
            "description": "iOS 自然默认 100 ,每个应用都不一样",
            "required": false,
            "type": "string"
          },
          {
            "name": "sms",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "systemVersion",
            "in": "query",
            "description": "系统版本",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.id",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.mobile",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.region",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.status",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.type",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.username",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.wechatId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "width",
            "in": "query",
            "description": "设备宽度",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "HttpBaseResponse«LoginResponseVo»",
              "$ref": "#/definitions/HttpBaseResponse«LoginResponseVo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/account/register": {
      "post": {
        "tags": [
          "【用户信息API】"
        ],
        "summary": "register",
        "description": "用户注册（手机号、密码）",
        "operationId": "registerUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "accessToken",
            "in": "query",
            "description": "登录标识",
            "required": false,
            "type": "string"
          },
          {
            "name": "appVersion",
            "in": "query",
            "description": "app版本号",
            "required": false,
            "type": "string"
          },
          {
            "name": "bundleVersions",
            "in": "query",
            "description": "bundle版本号列表",
            "required": false,
            "type": "object"
          },
          {
            "name": "cityCode",
            "in": "query",
            "description": "定位城市id",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceToken",
            "in": "query",
            "description": "设备token",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceType",
            "in": "query",
            "description": "设备类型",
            "required": false,
            "type": "string"
          },
          {
            "name": "location",
            "in": "query",
            "description": "定位地区",
            "required": false,
            "type": "string"
          },
          {
            "name": "mobile",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "mobileNum",
            "in": "query",
            "description": "手机号码",
            "required": false,
            "type": "string"
          },
          {
            "name": "osType",
            "in": "query",
            "description": "设备类型",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "parterValue",
            "in": "query",
            "description": "iOS 自然默认 100 ,每个应用都不一样",
            "required": false,
            "type": "string"
          },
          {
            "name": "password",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "systemVersion",
            "in": "query",
            "description": "系统版本",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.id",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.mobile",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.region",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.status",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.type",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.username",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.wechatId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "width",
            "in": "query",
            "description": "设备宽度",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "HttpBaseResponse«RegisterResponseVo»",
              "$ref": "#/definitions/HttpBaseResponse«RegisterResponseVo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/account/register/resendsms": {
      "post": {
        "tags": [
          "【用户信息API】"
        ],
        "summary": "register/resendsms",
        "description": "注册，重新发送短信",
        "operationId": "resendsmsUsingPOST_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "accessToken",
            "in": "query",
            "description": "登录标识",
            "required": false,
            "type": "string"
          },
          {
            "name": "appVersion",
            "in": "query",
            "description": "app版本号",
            "required": false,
            "type": "string"
          },
          {
            "name": "bundleVersions",
            "in": "query",
            "description": "bundle版本号列表",
            "required": false,
            "type": "object"
          },
          {
            "name": "cityCode",
            "in": "query",
            "description": "定位城市id",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceToken",
            "in": "query",
            "description": "设备token",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceType",
            "in": "query",
            "description": "设备类型",
            "required": false,
            "type": "string"
          },
          {
            "name": "location",
            "in": "query",
            "description": "定位地区",
            "required": false,
            "type": "string"
          },
          {
            "name": "mobile",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "mobileNum",
            "in": "query",
            "description": "手机号码",
            "required": false,
            "type": "string"
          },
          {
            "name": "osType",
            "in": "query",
            "description": "设备类型",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "parterValue",
            "in": "query",
            "description": "iOS 自然默认 100 ,每个应用都不一样",
            "required": false,
            "type": "string"
          },
          {
            "name": "registerKey",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "systemVersion",
            "in": "query",
            "description": "系统版本",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.id",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.mobile",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.region",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.status",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.type",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.username",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.wechatId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "width",
            "in": "query",
            "description": "设备宽度",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "HttpBaseResponse«Void»",
              "$ref": "#/definitions/HttpBaseResponse«Void»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/account/register/validate": {
      "post": {
        "tags": [
          "【用户信息API】"
        ],
        "summary": "register/validate",
        "description": "注册验证短信",
        "operationId": "registerValidateSmsUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "accessToken",
            "in": "query",
            "description": "登录标识",
            "required": false,
            "type": "string"
          },
          {
            "name": "activateCode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "appVersion",
            "in": "query",
            "description": "app版本号",
            "required": false,
            "type": "string"
          },
          {
            "name": "bundleVersions",
            "in": "query",
            "description": "bundle版本号列表",
            "required": false,
            "type": "object"
          },
          {
            "name": "cityCode",
            "in": "query",
            "description": "定位城市id",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceToken",
            "in": "query",
            "description": "设备token",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceType",
            "in": "query",
            "description": "设备类型",
            "required": false,
            "type": "string"
          },
          {
            "name": "location",
            "in": "query",
            "description": "定位地区",
            "required": false,
            "type": "string"
          },
          {
            "name": "mobile",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "mobileNum",
            "in": "query",
            "description": "手机号码",
            "required": false,
            "type": "string"
          },
          {
            "name": "osType",
            "in": "query",
            "description": "设备类型",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "parterValue",
            "in": "query",
            "description": "iOS 自然默认 100 ,每个应用都不一样",
            "required": false,
            "type": "string"
          },
          {
            "name": "registerKey",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "systemVersion",
            "in": "query",
            "description": "系统版本",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.id",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.mobile",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.region",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.status",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.type",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.username",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.wechatId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "width",
            "in": "query",
            "description": "设备宽度",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "HttpBaseResponse«LoginResponseVo»",
              "$ref": "#/definitions/HttpBaseResponse«LoginResponseVo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/account/retrievepass": {
      "post": {
        "tags": [
          "【用户信息API】"
        ],
        "summary": "retrievepass",
        "description": "初始化密码",
        "operationId": "retrievepassUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "accessToken",
            "in": "query",
            "description": "登录标识",
            "required": false,
            "type": "string"
          },
          {
            "name": "appVersion",
            "in": "query",
            "description": "app版本号",
            "required": false,
            "type": "string"
          },
          {
            "name": "bundleVersions",
            "in": "query",
            "description": "bundle版本号列表",
            "required": false,
            "type": "object"
          },
          {
            "name": "cityCode",
            "in": "query",
            "description": "定位城市id",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceToken",
            "in": "query",
            "description": "设备token",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceType",
            "in": "query",
            "description": "设备类型",
            "required": false,
            "type": "string"
          },
          {
            "name": "location",
            "in": "query",
            "description": "定位地区",
            "required": false,
            "type": "string"
          },
          {
            "name": "mobile",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "mobileNum",
            "in": "query",
            "description": "手机号码",
            "required": false,
            "type": "string"
          },
          {
            "name": "osType",
            "in": "query",
            "description": "设备类型",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "parterValue",
            "in": "query",
            "description": "iOS 自然默认 100 ,每个应用都不一样",
            "required": false,
            "type": "string"
          },
          {
            "name": "systemVersion",
            "in": "query",
            "description": "系统版本",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.id",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.mobile",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.region",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.status",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.type",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.username",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.wechatId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "width",
            "in": "query",
            "description": "设备宽度",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "HttpBaseResponse«RetrievePassResponseVo»",
              "$ref": "#/definitions/HttpBaseResponse«RetrievePassResponseVo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/account/retrievepass/resetpass": {
      "post": {
        "tags": [
          "【用户信息API】"
        ],
        "summary": "retrievepass/resetpass",
        "description": "重置修改密码",
        "operationId": "resetPassUsingPOST_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "accessToken",
            "in": "query",
            "description": "登录标识",
            "required": false,
            "type": "string"
          },
          {
            "name": "appVersion",
            "in": "query",
            "description": "app版本号",
            "required": false,
            "type": "string"
          },
          {
            "name": "bundleVersions",
            "in": "query",
            "description": "bundle版本号列表",
            "required": false,
            "type": "object"
          },
          {
            "name": "cityCode",
            "in": "query",
            "description": "定位城市id",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceToken",
            "in": "query",
            "description": "设备token",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceType",
            "in": "query",
            "description": "设备类型",
            "required": false,
            "type": "string"
          },
          {
            "name": "location",
            "in": "query",
            "description": "定位地区",
            "required": false,
            "type": "string"
          },
          {
            "name": "mobile",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "mobileNum",
            "in": "query",
            "description": "手机号码",
            "required": false,
            "type": "string"
          },
          {
            "name": "osType",
            "in": "query",
            "description": "设备类型",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "parterValue",
            "in": "query",
            "description": "iOS 自然默认 100 ,每个应用都不一样",
            "required": false,
            "type": "string"
          },
          {
            "name": "password",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "retrieveKey",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "systemVersion",
            "in": "query",
            "description": "系统版本",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.id",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.mobile",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.region",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.status",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.type",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.username",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.wechatId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "width",
            "in": "query",
            "description": "设备宽度",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "HttpBaseResponse«LoginResponseVo»",
              "$ref": "#/definitions/HttpBaseResponse«LoginResponseVo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/account/retrievepass/validatesms": {
      "post": {
        "tags": [
          "【用户信息API】"
        ],
        "summary": "retrievepass/validatesms",
        "description": "重置密码验证短信",
        "operationId": "retriveValidateUsingPOST_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "accessToken",
            "in": "query",
            "description": "登录标识",
            "required": false,
            "type": "string"
          },
          {
            "name": "activateCode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "appVersion",
            "in": "query",
            "description": "app版本号",
            "required": false,
            "type": "string"
          },
          {
            "name": "bundleVersions",
            "in": "query",
            "description": "bundle版本号列表",
            "required": false,
            "type": "object"
          },
          {
            "name": "cityCode",
            "in": "query",
            "description": "定位城市id",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceToken",
            "in": "query",
            "description": "设备token",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceType",
            "in": "query",
            "description": "设备类型",
            "required": false,
            "type": "string"
          },
          {
            "name": "location",
            "in": "query",
            "description": "定位地区",
            "required": false,
            "type": "string"
          },
          {
            "name": "mobile",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "mobileNum",
            "in": "query",
            "description": "手机号码",
            "required": false,
            "type": "string"
          },
          {
            "name": "osType",
            "in": "query",
            "description": "设备类型",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "parterValue",
            "in": "query",
            "description": "iOS 自然默认 100 ,每个应用都不一样",
            "required": false,
            "type": "string"
          },
          {
            "name": "retrieveKey",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "systemVersion",
            "in": "query",
            "description": "系统版本",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.id",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.mobile",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.region",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.status",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.type",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.username",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.wechatId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "width",
            "in": "query",
            "description": "设备宽度",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "HttpBaseResponse«Void»",
              "$ref": "#/definitions/HttpBaseResponse«Void»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/account/sendlogsms": {
      "post": {
        "tags": [
          "【用户信息API】"
        ],
        "summary": "sendlogsms",
        "description": "登录发送短信",
        "operationId": "sendlogsmsUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "accessToken",
            "in": "query",
            "description": "登录标识",
            "required": false,
            "type": "string"
          },
          {
            "name": "appVersion",
            "in": "query",
            "description": "app版本号",
            "required": false,
            "type": "string"
          },
          {
            "name": "bundleVersions",
            "in": "query",
            "description": "bundle版本号列表",
            "required": false,
            "type": "object"
          },
          {
            "name": "cityCode",
            "in": "query",
            "description": "定位城市id",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceToken",
            "in": "query",
            "description": "设备token",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceType",
            "in": "query",
            "description": "设备类型",
            "required": false,
            "type": "string"
          },
          {
            "name": "ip",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location",
            "in": "query",
            "description": "定位地区",
            "required": false,
            "type": "string"
          },
          {
            "name": "mobile",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "mobileNum",
            "in": "query",
            "description": "手机号码",
            "required": false,
            "type": "string"
          },
          {
            "name": "osType",
            "in": "query",
            "description": "设备类型",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "parterValue",
            "in": "query",
            "description": "iOS 自然默认 100 ,每个应用都不一样",
            "required": false,
            "type": "string"
          },
          {
            "name": "smsType",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "systemVersion",
            "in": "query",
            "description": "系统版本",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.id",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.mobile",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.region",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.status",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.type",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.username",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.wechatId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "width",
            "in": "query",
            "description": "设备宽度",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "HttpBaseResponse«Void»",
              "$ref": "#/definitions/HttpBaseResponse«Void»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/account/sendlogsmsV2": {
      "post": {
        "tags": [
          "【用户信息API】"
        ],
        "summary": "sendlogsmsV2",
        "description": "登录发送短信",
        "operationId": "sendlogsmsV2UsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "accessToken",
            "in": "query",
            "description": "登录标识",
            "required": false,
            "type": "string"
          },
          {
            "name": "appVersion",
            "in": "query",
            "description": "app版本号",
            "required": false,
            "type": "string"
          },
          {
            "name": "bundleVersions",
            "in": "query",
            "description": "bundle版本号列表",
            "required": false,
            "type": "object"
          },
          {
            "name": "cityCode",
            "in": "query",
            "description": "定位城市id",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceToken",
            "in": "query",
            "description": "设备token",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceType",
            "in": "query",
            "description": "设备类型",
            "required": false,
            "type": "string"
          },
          {
            "name": "ip",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location",
            "in": "query",
            "description": "定位地区",
            "required": false,
            "type": "string"
          },
          {
            "name": "mobile",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "mobileNum",
            "in": "query",
            "description": "手机号码",
            "required": false,
            "type": "string"
          },
          {
            "name": "osType",
            "in": "query",
            "description": "设备类型",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "parterValue",
            "in": "query",
            "description": "iOS 自然默认 100 ,每个应用都不一样",
            "required": false,
            "type": "string"
          },
          {
            "name": "smsType",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "systemVersion",
            "in": "query",
            "description": "系统版本",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.id",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.mobile",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.region",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.status",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.type",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.username",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.wechatId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "width",
            "in": "query",
            "description": "设备宽度",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "HttpBaseResponse«Void»",
              "$ref": "#/definitions/HttpBaseResponse«Void»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/account/setUserIdCard": {
      "post": {
        "tags": [
          "【用户信息API】"
        ],
        "summary": "setUserIdCard",
        "description": "用户实名认证",
        "operationId": "setUserIdCardUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "originalRef": "用户实名认证",
              "$ref": "#/definitions/用户实名认证"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "HttpBaseResponse«IdCardCertifincationResponseVo»",
              "$ref": "#/definitions/HttpBaseResponse«IdCardCertifincationResponseVo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/account/setsmspass": {
      "post": {
        "tags": [
          "【用户信息API】"
        ],
        "summary": "setsmspass",
        "description": "设置密码",
        "operationId": "validelogsmsUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "accessToken",
            "in": "query",
            "description": "登录标识",
            "required": false,
            "type": "string"
          },
          {
            "name": "appVersion",
            "in": "query",
            "description": "app版本号",
            "required": false,
            "type": "string"
          },
          {
            "name": "bundleVersions",
            "in": "query",
            "description": "bundle版本号列表",
            "required": false,
            "type": "object"
          },
          {
            "name": "cityCode",
            "in": "query",
            "description": "定位城市id",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceToken",
            "in": "query",
            "description": "设备token",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceType",
            "in": "query",
            "description": "设备类型",
            "required": false,
            "type": "string"
          },
          {
            "name": "location",
            "in": "query",
            "description": "定位地区",
            "required": false,
            "type": "string"
          },
          {
            "name": "login",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "messageType",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "mobile",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "mobileNum",
            "in": "query",
            "description": "手机号码",
            "required": false,
            "type": "string"
          },
          {
            "name": "osType",
            "in": "query",
            "description": "设备类型",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "parterValue",
            "in": "query",
            "description": "iOS 自然默认 100 ,每个应用都不一样",
            "required": false,
            "type": "string"
          },
          {
            "name": "password",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "systemVersion",
            "in": "query",
            "description": "系统版本",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.id",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.mobile",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.region",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.status",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.type",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.username",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.wechatId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "width",
            "in": "query",
            "description": "设备宽度",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "HttpBaseResponse«LoginResponseVo»",
              "$ref": "#/definitions/HttpBaseResponse«LoginResponseVo»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/account/validelogsms": {
      "post": {
        "tags": [
          "【用户信息API】"
        ],
        "summary": "validelogsms",
        "description": "登录发送短信",
        "operationId": "validelogsmsUsingPOST_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "accessToken",
            "in": "query",
            "description": "登录标识",
            "required": false,
            "type": "string"
          },
          {
            "name": "appVersion",
            "in": "query",
            "description": "app版本号",
            "required": false,
            "type": "string"
          },
          {
            "name": "bundleVersions",
            "in": "query",
            "description": "bundle版本号列表",
            "required": false,
            "type": "object"
          },
          {
            "name": "cityCode",
            "in": "query",
            "description": "定位城市id",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceToken",
            "in": "query",
            "description": "设备token",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceType",
            "in": "query",
            "description": "设备类型",
            "required": false,
            "type": "string"
          },
          {
            "name": "location",
            "in": "query",
            "description": "定位地区",
            "required": false,
            "type": "string"
          },
          {
            "name": "login",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "mobile",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "mobileNum",
            "in": "query",
            "description": "手机号码",
            "required": false,
            "type": "string"
          },
          {
            "name": "osType",
            "in": "query",
            "description": "设备类型",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "parterValue",
            "in": "query",
            "description": "iOS 自然默认 100 ,每个应用都不一样",
            "required": false,
            "type": "string"
          },
          {
            "name": "sms",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "systemVersion",
            "in": "query",
            "description": "系统版本",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.id",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.mobile",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.region",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.status",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.type",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userInfo.username",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "userInfo.wechatId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "width",
            "in": "query",
            "description": "设备宽度",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "HttpBaseResponse«LoginResponseVo»",
              "$ref": "#/definitions/HttpBaseResponse«LoginResponseVo»"
            }
          },
          "201": {
[...]
